@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<main class="ttr-wrapper">
    <div class="container-fluid">
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="text-center">
        <h1 class="display-4">Robotik Bilim</h1>
        <p>Geleceğin kodlama dünyasına red-Kit ile giriş yapıyoruz...</p>
    </div>
</div>
</div>
</main>


