@model CourseSystem.Models.CourseContent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Ders/Ýçerik Ýþlemleri</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="@Url.Action("IndexAdmin","Home")"><i class="fa fa-home"></i>Home</a></li>
                <li>Ders/Ýçerik Ýþlemleri</li>
            </ul>
        </div>
        <div class="row">
            <!-- Your Profile Views Chart -->
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4>Ders/Ýçerik Güncelleme</h4>
                    </div>
                    <div class="widget-inner">
                        <form class="edit-profile m-b30" method="post">
                            <input type="hidden" name="CourseId" value="@Model.CourseId" />
                            <input type="hidden" name="ContentId" value="@Model.ContentId" />
                            <div class="row">
                                <div class="col-12">
                                    <table id="item-add" style="width:100%;">
                                        <tr class="list-item">
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label class="col-form-label"> Sýralama No</label>
                                                        <div>
                                                            <input class="form-control" name="Sequence" type="text" value="@Model.Sequence">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <label class="col-form-label"></label>
                                                        <div class="form-group">
                                                            <button class="btn" type="submit">Deðiþiklikleri Kaydet</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- Your Profile Views Chart END-->
        </div>
    </div>
</main>


 
@section Scripts {
}
