<!DOCTYPE html>
<html>
<head>
        <!-- META ============================================= -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="robots" content="" />

        <!-- FAVICONS ICON ============================================= -->
        <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/logoicon.png" />

        <!-- PAGE TITLE HERE ============================================= -->
        <title>Robotik Bilim </title>

        <!-- MOBILE SPECIFIC ============================================= -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--[if lt IE 9]>
    <script src="~/Scripts/js/html5shiv.min.js"></script>
    <script src="~/Scripts/js/respond.min.js"></script>
    <![endif]-->
        <!-- All PLUGINS CSS ============================================= -->
        <link rel="stylesheet" type="text/css" href="~/Content/css/assets.css">

        <!-- TYPOGRAPHY ============================================= -->
        <link rel="stylesheet" type="text/css" href="~/Content/css/typography.css">

        <!-- SHORTCODES ============================================= -->
        <link rel="stylesheet" type="text/css" href="~/Content/css/shortcodes/shortcodes.css">

        <!-- STYLESHEETS ============================================= -->
        <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
        <link class="skin" rel="stylesheet" type="text/css" href="~/Content/css/color/color-1.css">

    </head>
<body>
    @RenderBody()
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Content/vendors/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="~/Content/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="~/Content/vendors/counter/waypoints-min.js"></script>
    <script src="~/Content/vendors/counter/counterup.min.js"></script>
    <script src="~/Content/vendors/imagesloaded/imagesloaded.js"></script>
    <script src="~/Content/vendors/masonry/masonry.js"></script>
    <script src="~/Content/vendors/masonry/filter.js"></script>
    <script src="~/Content/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/vendors/scroll/scrollbar.min.js"></script>
    <script src="~/Scripts/js/functions.js"></script>
    <script src="~/Scripts/js/admin.js"></script>
    <script src="~/Scripts/js/contact.js"></script>
</body>
</html>
